# üìå Chapter 1: Introduction to Python for Data Analysis

## 1. Why Python for Data Analysis?
Python is one of the most widely used languages for data analysis and data science due to:  

‚úÖ Easy to Learn ‚Äì Simple syntax compared to R, Java, etc.  
‚úÖ Rich Libraries ‚Äì Includes NumPy, Pandas, Matplotlib, Scikit-learn for data tasks.  
‚úÖ Versatile ‚Äì Used for data analysis, automation, web scraping, machine learning, and more.  
‚úÖ SQL & Big Data Integration ‚Äì Works well with SQL databases, Hadoop, Spark, and cloud platforms.  
‚úÖ Large Community & Resources ‚Äì Tons of free learning materials and support.

## 2. Installing Python & Setting Up Jupyter Notebook  
Option 1: Install Anaconda (Recommended)  
Anaconda is a Python distribution that comes with Jupyter Notebook and many data science libraries pre-installed.  

üîπ Step 1: Download Anaconda ‚Üí Visit Anaconda's Website (https://www.anaconda.com/)   
üîπ Step 2: Install Anaconda (Follow on-screen instructions)  
üîπ Step 3: Launch Jupyter Notebook  

~ Open Anaconda Navigator ‚Üí Click Jupyter Notebook  
~ OR open a terminal and run: jupyter notebook  

Option 2: Install Python & Jupyter Manually  
If you prefer a lightweight installation, install Python and Jupyter separately.  

üîπ Step 1: Install Python ‚Üí Download Python (https://www.python.org/)  
üîπ Step 2: Install Jupyter Notebook - open a terminal and run: pip install jupyter  
üîπ Step 3: Launch Jupyter Notebook - open a terminal and run: jupyter notebook

### 3. Python Basics: Syntax, Variables, and Data Types
#### 3.1 Python Syntax
Python uses indentation instead of {} to define code blocks.

In [1]:
# Example of indentation
def greet():
    print("Hello, Data Analyst!")  # This line is inside the function

greet()

Hello, Data Analyst!

üí° Comments start with #:

In [2]:
# This is a comment
print("Hello, world!")  # This prints text

Hello, world!

#### 3.2 Variables in Python
Python does not require explicit variable declarations. The type is assigned automatically.

In [3]:
# Assigning values to variables
name = "Alice"  # String
age = 25        # Integer
height = 5.6    # Float
is_employed = True  # Boolean

print(name, age, height, is_employed)

Alice 25 5.6 True

#### 3.3 Data Types in Python
üîπ Numeric Types

In [4]:
x = 10    # Integer
y = 3.14  # Float
z = 2 + 3j  # Complex number

print(type(x), type(y), type(z))

<class 'int'> <class 'float'> <class 'complex'>

üîπ Strings

In [5]:
text = "Python is awesome!"
print(text.upper())  # Convert to uppercase
print(text.lower())  # Convert to lowercase
print(text[0:6])  # Slicing (prints "Python")

PYTHON IS AWESOME!
python is awesome!
Python

üîπ Boolean Type

In [6]:
is_python_easy = True
print(type(is_python_easy))  # Output: <class 'bool'>

<class 'bool'>

üîπ List (Ordered Collection)

In [7]:
skills = ["SQL", "Excel", "Power BI"]
print(skills[0])  # Access first element
skills.append("Python")  # Add new skill
print(skills)

SQL
['SQL', 'Excel', 'Power BI', 'Python']

üîπ Tuple (Immutable Collection)

In [8]:
coordinates = (10, 20)
print(coordinates[0])  # Access first element

10

üîπ Dictionary (Key-Value Pairs)

In [9]:
contact_info = {"email": "johndoe@email.com", "phone": "123-456-7890", "city": "New York"}
print(contact_info["city"])  # Retrieve city

New York

## 4. Hands-On Exercise: Personal Data Summary
### üîπ Task 1: Define Variables  
Write a Python script that:  
~ Create a variable full_name to store your full name as a string.  
~ Create a variable age to store your age as an integer.  
~ Create a variable height to store your height in meters as a float.  
~ Create a variable is_employed as a Boolean (True if you are employed, False otherwise).  
~ Create a list variable skills that stores at least three technical skills you have.  
~ Create a dictionary contact_info with keys "email", "phone", and "city" storing relevant values.

### **SOLUTION:**

In [10]:
full_name = "Ben Smith"
age = 35
height = 1.82
is_employed = True
skills = ["Excel", "SQL", "Python"]
contact_info = {"email":"my_email@email.com", "phone":"+45233233", "city":"London"}

### üîπ Task 2: Perform Operations
~ Increase the age variable by 1 year (assuming it's your birthday üéâ).  
~ Add a new skill (e.g., "Power BI") to the skills list.  
~ Convert the full_name variable to uppercase.  
~ Retrieve and print the city from contact_info.

### **SOLUTION:**

In [11]:
age = age + 1
skills.append("Power BI")
full_name = full_name.upper()
print(contact_info["city"])

London

### üîπ Task 3: Display the Information
Using the print() function, format and display the information in the following structured way:

### **SOLUTION:**

In [12]:
print("Personal Data Summary\n")  # Newline at the end

print("Name:", full_name)
print("Age:", age)
print("Height:", height, "meters")
print("Employment:", is_employed)
print("Technical skills:", skills)

print("\nContact Information:") # Newline at the beginning
print("üìß Email:", contact_info["email"])
print("üìû Phone:", contact_info["phone"])
print("üìç Location:", contact_info["city"])

Personal Data Summary

Name: BEN SMITH
Age: 36
Height: 1.82 meters
Employment: True
Technical skills: ['Excel', 'SQL', 'Python', 'Power BI']

Contact Information:
üìß Email: my_email@email.com
üìû Phone: +45233233
üìç Location: London

### Bonus: Printing lists with items separated by commas, without showing the brackets

In [13]:
print("Personal Data Summary\n")  # Newline at the end

print("Name:", full_name)
print("Age:", age)
print("Height:", height, "meters")
print("Employment:", is_employed)
print("Technical skills:", ", ".join(skills))  # Join list items with commas
print("\nContact Information:")
print("üìß Email:", contact_info["email"])
print("üìû Phone:", contact_info["phone"])
print("üìç Location:", contact_info["city"])

Personal Data Summary

Name: BEN SMITH
Age: 36
Height: 1.82 meters
Employment: True
Technical skills: Excel, SQL, Python, Power BI

Contact Information:
üìß Email: my_email@email.com
üìû Phone: +45233233
üìç Location: London